{% extends 'base.html.twig' %}

{% block title %}New Pense{% endblock %}

{% block body %}
    <h1>Create new Pense</h1>

    {{ include('pense/_form.html.twig') }}

    <a href="{{ path('pense_index') }}">back to list</a>
{% endblock %}
